.conteudo {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primaria: #58a4b0;
  --secundaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
}

.app-lista-header {
  margin: 0;
  text-align: center;
  border: none;
  font-weight: bold;
  font-size: 32px;
  background-color: var(--secundaria);
  color: white;
}